@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 2s ease-in-out;
}

.animate-slide-in-left {
  animation: slideInLeft 1.5s ease-in-out;
}

.animate-slide-in-right {
  animation: slideInRight 1.5s ease-in-out;
}

.about-page {
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.6;
}

.aboutbackground {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(79, 109, 120, 1)), url("/public/images/about1.jpeg") no-repeat center center/cover;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-text h1 {
  color: #fff;
  font-size: 2.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.about-content {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
}

.about-text {
  flex: 1;
  padding-right: 20px;
}

.about-text h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  padding-left: 60px;
  color: #FF6500;
}

.about-text p {
  margin-bottom: 20px;
}

.learn-more-button {
  padding: 10px 20px;
  background-color: #036280;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-left: 60px;
}

.learn-more-button:hover {
  background-color: #024d61;
  transform: translateY(-5px);
}

.learn-more-button:focus {
  outline: none;
}

.about-image-container {
  flex: 1;
  text-align: center;
}

.about-image {
  width: 500px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Responsive Design */
@media (max-width: 1200px) {
  .about-content {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .about-text {
    padding-right: 0;
    text-align: center;
  }

  .learn-more-button {
    margin-left: 0;
    margin-top: 20px;
  }

  .about-image {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .aboutbackground {
    height: 400px;
  }

  .background-text h1 {
    font-size: 2rem;
  }

  .about-content {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px 20px;
  }

  .about-text h2 {
    font-size: 1.5rem;
    padding-left: 0;
  }

  .about-image {
    width: 80%;
    height: auto;
  }
}

@media (max-width: 480px) {
  .aboutbackground {
    height: 300px;
  }

  .background-text h1 {
    font-size: 1.8rem;
  }

  .about-content {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
  }

  .about-text h2 {
    font-size: 1.2rem;
    padding-left: 0;
  }

  .learn-more-button {
    width: 100%;
    margin-top: 20px;
  }

  .about-image {
    width: 100%;
    height: auto;
  }
}
