
.favoris-list-container {
    padding: 20px;
    background-color: #f9f9f9;
    
  }
  
  
  .favori-card {
   
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 300px;
    margin: 20px;
    padding: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    
  }
  
  .favori-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  
 
  .favori-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 4px;
  }
  
 
  .favori-details {
    margin-top: 12px;
    padding: 0 10px;
  }
  
  .favori-title {
    font-size: 18px;
    color: #333;
    margin: 8px 0;
  }
  
  .favori-genre,
  .favori-author {
    font-size: 14px;
    color: #555;
    margin: 4px 0;
  }
  
 
  .favori-button {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 15px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    text-transform: uppercase;
  }
  
  .favori-button:hover {
    background-color: #c82333;
    transform: translateY(-3px);
  }
  
  .favori-button:active {
    background-color: #bd2130;
    transform: translateY(0);
  }
  