/* header.css */
.header {
  display: flex;
  justify-content: center; /* Centre le menu */
  align-items: center;
  background-color: white;
  padding: 15px 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: auto; /* Place le logo à gauche */
}

.logo img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.logo h1 {
  font-size: 15px;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-style: italic;
  color: #2c3e50;
  letter-spacing: 0.5px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
  flex: 1; /* Permet au menu de prendre l'espace disponible */
  justify-content: center; /* Centre le menu */
}

.nav-links li {
  position: relative;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #FF6500;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  min-width: 160px;
  z-index: 1;
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu li {
  padding: 10px;
}

.dropdown-menu li a {
  color: #036280;
  font-weight: 400;
}

.dropdown-menu li a:hover {
  background-color: #FF6500;
  color: white;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.favorites-badge {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
}

.auth-buttons {
  display: flex;
  gap: 10px;
  margin-left: auto; /* Décale les boutons à droite */
}

.auth-buttons .sign-in,
.auth-buttons .sign-up {
  background-color: #036280;
  border: 2px solid #036280;
  color: #ecf0f1;
  padding: 8px 15px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.auth-buttons .sign-in:hover,
.auth-buttons .sign-up:hover {
  background-color: #FF6500;
  border-color: #FF6500;
  color: white;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  cursor: pointer;
  position: absolute; /* Positionner l'icône hamburger en haut à droite */
  top: 10px;
  right: 30px;
  transform: translateX(50%);
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .logo h1 {
    font-size: 20px;
  }

  .nav-links {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-top: 20px;
  }

  .nav-links li {
    width: 100%;
  }

  .nav-links a {
    padding: 10px 20px;
    width: 100%;
    text-align: left;
  }

  .nav-links.active {
    display: flex;
  }

  .favorites-badge {
    margin-left: 0;
    margin-top: 10px;
  }

  .auth-buttons {
    flex-direction: column;
    gap: 15px;
  }

  .auth-buttons .sign-in,
  .auth-buttons .sign-up {
    width: 100%;
    text-align: center;
  }

  .hamburger {
    display: block;
  }
}
